<div class="modal-header">
    <h3 class="modal-title" ng-show="dial.status === 'pending'">Calling confirmation</h3>
    <h3 class="modal-title" ng-show="dial.status === 'calling'">Calling {{contact.username}}</h3>
</div>
<div class="modal-body text-center" ng-show="dial.status === 'pending' && dial.role === 'caller'">
   <p>Are you sure you want to call
    <bold>{{contact.username}}</bold>?
   </p>
</div>
<div class="modal-body text-center" ng-show="dial.status === 'setting'">
    <p>Allow camera and/or microphone usage!!</p>
    <p><i class="fa fa-5x fa-spin fa-gear"></i></p>
</div>
<div class="modal-body text-center" ng-show="dial.status === 'calling'">
    <p>Calling, please wait ...</p>
    <p><i class="fa fa-5x fa-spin fa-gear"></i></p>
</div>
<div class="modal-body text-center" ng-show="dial.status === 'pending' && dial.role === 'callee'">
    <p><b>{{contact.username}}</b> is calling you!</p>
    <p>Do you want to answer it?</p>
</div>
<div class="modal-footer">
    <button ng-show="dial.status === 'pending'" class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
